body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(60, 58, 58);
    color: rgb(32, 31, 31);
    }
    

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(120, 115, 115);
}

h1, h2 {
    text-align: center;
}

.page {
    margin-bottom: 20px;
    padding: 20px;
   
    background-color: rgb(174, 168, 168);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}
